.contact{
    background-image: url(../../../images/appointmentBg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 50%;
    height: 100%;
    background: black;
    opacity: .9;
    z-index: -1;
}